<h2 class="h1-responsive font-weight-bold my-5">Bienvenue sur la page d'édition du gossip n°<%=@gossip.id%></h2>


<body>
 
   <div class=" border border-light p-5">

     <p class="h4 mb-4">Pour éditer le potin, compléter le formulaire</p>

      <%= form_tag url_for(action: 'update'), method: "patch" do %>
        
        <p><%= label_tag 'Titre du gossip' %></p>
        <%= text_field_tag 'title', value = @gossip.title, class: "form-control mb-4" %>
    
        <p><%= label_tag 'Contenu du gossip' %></p>
        <%= text_field_tag 'content', value = @gossip.content, class: "form-control mb-2"%>
           
           </br>

        <%= submit_tag "Valider", class: "btn btn-info btn-block" %>

      <% end %>
    </div>
    


</body>

