<h1>Bienvenue sur la page du gossip n° <%= @gossip.id %></h1>
<p>Il a été écrit par : <%= @gossip.user.first_name %></p>
<p>Crée le : <%= @gossip.created_at%></p>
<p>Son titre est : <%= @gossip.title%></p>
<p>Voici le gossip : <%= @gossip.content%></p>

 <a class="nav-link" <%= link_to "Page de "+@gossip.user.first_name, user_path(:id => @gossip.user_id) %> </a>