</br>

<h2>Bienvenue sur la page de la ville de <%= @city.name %></h2>

</br>

		<h3>Voici ce qui se dit dans cette ville :</h3>

</br>



<section>
<div class="card-deck">
<%Gossip.all.each do |gossip|%>
<%if @user_id_array.include?(gossip.user_id)%>
<div class="col-sm-4 mb-3">
<div class="card">
  <div class="card-header">
    Gossip #<%=gossip.id%>
  </div>
  <div class="card-body align-center">
    <blockquote class="blockquote mb-0">
      <p><%=gossip.title%></p>
      <footer class="blockquote-footer">
      <div class="row justify-content-between align-self-center mx-3">
        <p><%=User.find(gossip.user_id).first_name%> <%=User.find(gossip.user_id).last_name%></p>
       </div>
      </footer>
    </blockquote>
  </div>
</div>
</div>
<%end%>
<%end%>
</div>
</section>